/* MODIFIERS */

.floating {
  box-shadow: var(--shadow-floating);
}

.pointer {
  cursor: pointer;
}

.movable {
  cursor: move;
}

.no-select {
  user-select: none;
}

.no-events {
  pointer-events: none;
}

.resize-v {
  cursor: row-resize;
}

/*
   * ## Hover Behaviour
  */
.show-menu,
.with-hover {
  position: relative;
}
.show-menu > .menu,
.with-hover .on-hover {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0.1s;
  transition-duration: 0.25s;
}
.with-hover:hover .on-hover,
.show-menu:hover > .menu,
.with-hover .on-hover:hover {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.show-menu:hover > .menu {
  bottom: 0px;
  left: 0px;
  transform: translateY(100%);
}

.hover:hover .hovered {
  background-color: var(--control-bg-hover);
}

.focus-undim {
  transition: opacity 0.25s;
}
.focus-undim:hover {
  opacity: 1;
}

/* EOF */
