/* MODIFIERS */

.floating {
	box-shadow: var(--shadow-floating);
}

.pointer {
	cursor: pointer;
}

.movable {
	cursor: move;
}

.help {
	cursor: help;
}

.cell {
	cursor: cell;
}

.no-select {
	user-select: none;
}

.no-events {
	pointer-events: none;
}

.resize-v {
	cursor: row-resize;
}

.overflow-w {
	overflow-x: auto;
}

.overflow-h {
	overflow-y: auto;
}

.overflow {
	overflow: auto;
}
/*
   * ## Hover Behaviour
  */
.show-menu,
.with-hover {
	position: relative;
}
.show-menu > .menu,
.with-hover .show-hover {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition-property: opacity;
	transition-delay: 0.1s;
	transition-duration: 0.25s;
}

.with-hover:hover .show-hover,
.show-menu:hover > .menu,
.with-hover .show-hover:hover {
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
}

.show-menu:hover > .menu {
	bottom: 0px;
	left: 0px;
	transform: translateY(100%);
}

.hover:hover .hovered {
	background-color: var(--control-bg-hover);
}

.focus-undim {
	transition: opacity 0.25s;
}
.focus-undim:hover,
.focus-undim:hover .dim,
.focus-undim:hover .dimmer,
.focus-undim:hover .dimmest {
	opacity: 1;
}

.hidden {
	visibility: hidden !important;
}

/* EOF */
