@layer controls {
  .label,
  label {
    /* We have a more compact line height for labels */
    line-height: 1.15em;
  }

  .item {
    padding: var(--pad-1) var(--pad-2);
    display: block;
  }

  a[href],
  .link {
    color: var(--link-color);
  }

  .selectable {
    cursor: pointer;
    user-select: none;
  }

  .selectable:hover {
    background-color: var(--control-bg-hover);
  }

  .selectable:focus,
  .selectable.focus {
    background-color: var(--control-bg-focused);
  }

  .selectable:active,
  .selectable.active {
    background-color: var(--control-bg-focused);
  }

  .selected {
    background-color: var(--control-bg-selected);
  }

  /* Selectable labels typically don't have padding and therefore
   * should rely on border and text color instead */
  .label.selectable {
    border-bottom: 1px solid transparent;
  }

  .label.selectable:hover {
    background-color: transparent;
    color: var(--color--accent);
    border-color: var(--text-color);
  }

  .label.selectable:focus {
    background-color: transparent;
    border-color: var(--text-color);
  }

  .label.selectable:active,
  .label.selectable.active {
    background-color: transparent;
    color: var(--color--accent);
    border-color: var(--color-accent);
  }

  .pill {
    display: inline-flex;
    align-items: center;
    border-radius: 0.5em;
    padding-left: var(--pad-1);
    padding-right: var(--pad-1);
    background-color: var(--color-accent-bg-alt);
  }
  .pill.error {
    background-color: var(--color-error-bg-alt);
  }

  .menu,
  menu {
    display: block;
    font-size: var(--control-font-size);
    background-color: var(--page-bg);
    border: 1px solid var(--control-bd);
    border-radius: 4px;
    padding: 8px 0px;
    text-align: left;
    max-width: 260px;
    line-height: var(--control-line-height);
    user-select: none;
  }
  .menu.popup,
  menu.popup {
    box-shadow: var(--shadow-floating);
    position: absolute;
    z-index: var(--z-popup);
    min-width: 200px;
    max-height: 290px;
    overflow-y: auto;
    scrollbar-color: var(--color-accent);
    scrollbar-width: thin;
  }
  .menu > hr,
  menu > hr {
    border: 0px solid transparent;
    background: transparent;
    margin: 0px;
    border-top: 1px solid var(--color-bd);
  }
  .menu > hr:after,
  menu > hr:after {
    content: attr(data-label);
    display: block;
    opacity: 0.75;
    font-weight: 400;
    font-size: var(--font-size-2);
    line-height: 1em;
    padding: 12px 8px 8px;
  }
  .menu > li,
  menu > li {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    gap: 8px;
    color: var(--control-text);
    cursor: pointer;
  }
  .menu > li:hover,
  menu > li:hover {
    background-color: var(--control-bg-hover);
  }
  .menu > li > .label,
  menu > li > .label {
    display: block;
    flex-grow: 1;
    font-size: var(--font-size-1_5);
    color: var(--text-color);
  }

  .menu > li > .label > .detail,
  menu > li > .label > .detail {
    display: block;
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--text-color-alt);
  }

  /*
   * ## Control
  */

  button,
  input,
  textarea,
  select,
  .button,
  .input,
  .textarea {
    display: inline-flex;
    line-height: var(--control-line-height);
    border: 1px solid var(--control-bd);
    background: var(--control-bg);
    color: var(--control-txt);
    font-family: var(--font-control);
    font-size: var(--font-control-size);
    line-height: var(--font-control-line-height);
    width: min-content;
    padding: var(--pad-2);
    border-radius: 4px;
    gap: var(--gap-1);
  }

  /* INPUTS */

  input,
  textarea,
  .input,
  .textarea {
    font-family: var(--font-input);
    font-size: var(--font-input-size);
    line-height: var(--font-input-line-height);
    background-color: var(--control-input-bg);
  }

  input[type="checkbox"] {
    display: inline-block;
    border: 2px solid red;
    /*appearance: none;*/
  }
  input[type="text"],
  .input,
  textarea,
  .textarea {
    min-width: 15ch;
    background: var(--control-input-bg);
  }
  input:hover,
  textarea:hover,
  .input:hover,
  .textarea:hover,
  .input.hover,
  .textarea.hover {
    outline: 0px solid transparent;
  }
  input:focus,
  textarea:focus,
  input:active,
  textarea:active,
  .input:focus,
  .textarea:focus,
  .input.focus,
  .textarea.focus,
  .input:active,
  .textarea:active,
  .input.active,
  .textarea.active {
    outline: 0px solid transparent;
  }

  input.transparent[type="text"],
  input.transparent[type="text"]:active,
  input.transparent[type="text"]:focus,
  input.transparent[type="text"]:hover,
  textarea.transparent,
  textarea.transparent:active,
  textarea.transparent:focus,
  textarea.transparent:hover,
  .textarea.transparent,
  .textarea.transparent:active,
  .textarea.transparent:focus,
  .textarea.transparent:hover {
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: unset;
    top: unset;
    left: unset;
  }

  input[type="checkbox"] {
    margin-right: var(--pad-1);
  }

  /* BUTTONS */

  button,
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.75em;
    position: relative;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    gap: var(--gap-2);
    transition-property: background-color, border-color, color;
    transition-duration: 0.15s;
    outline: 0px solid transparent;
  }

  button.as-icon,
  .button.as-icon {
    border-color: transparent;
    background-color: transparent;
    --icon-size: var(--icon-size-regular);
    width: var(--icon-size);
    height: var(--icon-size);
    max-width: var(--icon-size);
    max-height: var(--icon-size);
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    box-sizing: content-box;
    padding: var(--pad-2);
  }

  button.as-icon.small,
  .button.as-icon.small {
    --icon-size: var(--icon-size-small);
    padding: var(--pad-1);
  }

  button.as-icon.smaller,
  .button.as-icon.smaller {
    --icon-size: var(--icon-size-smaller);
    padding: var(--pad-1);
  }

  button .icon,
  .button .icon {
    line-height: var(--font-control-line-height);
    font-size: var(--font-control-size);
  }

  button.default,
  .button.default {
    font-weight: bold;
  }

  button:focus,
  .button:focus,
  .button.focus {
    background-color: var(--control-bg-focus);
  }
  button:hover,
  .button:hover,
  .button.hover {
    background-color: var(--control-bg-hover);
  }
  button.selected,
  .button.selected {
    background-color: var(--control-bg-selected);
  }

  button:focus,
  .button:focus,
  .button.focus {
    outline: 0px solid var(--color-accent-alt);
  }
  button:active,
  .button:active,
  .button.active {
    outline: 0px solid var(--color-accent-alt);
    background-color: var(--control-bg-selected);
  }
  button.icon,
  .button.icon {
    font-family: var(--font-icon);
    font-size: var(--font-icon-size);
    font-variation-settings: var(--font-icon-variation);
    padding: 4px;
  }
  button.square,
  .button.square {
    border-radius: 0em;
  }
  button.round,
  .button.round {
    min-width: unset;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.25em;
  }

  button.pill,
  .button.pill {
    border-width: 0px;
    padding-right: 0.75em;
    padding-left: 0.75em;
    border-radius: 2em;
  }

  button.label,
  .button.label {
    background-color: transparent;
    border: 0px solid transparent;
  }
  button.label:hover,
  button.label:focus,
  .button.label:hover,
  .button.label:focus {
    background-color: transparent;
    outline: unset;
  }
  button.label:focus,
  .button.label:focus {
  }
  button.label:active,
  .button.label:active {
    background-color: transparent;
    outline: unset;
  }

  button.medium,
  .button.medium {
    font-size: var(--font-size-3);
    padding: var(--pad-1) var(--pad-2);
  }
  button.small,
  .button.small {
    font-size: var(--font-size-2);
    padding: var(--pad-1) var(--pad-2);
  }
  button.x-small,
  .button.x-small {
    font-size: var(--font-size-1);
    padding: var(--pad-0);
    border-radius: 0px;
  }
  button.noborder,
  .button.noborder {
    border-width: 0px;
    box-shadow: 0px 0px 0px transparent;
  }
  button.dimmed,
  .button.dimmed {
    opacity: var(--opacity-dimmed);
  }
  button.dimmed:hover,
  .button.dimmed:hover {
    opacity: 1;
  }

  .select {
    display: flex;
    flex-direction: column;
  }

  .select > button,
  .select > .button,
  .select > .option,
  .select > button:hover,
  .select > button:focus,
  .select > .button:hover,
  .select > .button:focus {
    text-shadow: unset;
    box-shadow: unset;
    left: unset;
    top: unset;
    border: 0px solid transparent;
  }

  .field {
    display: flex;
    justify-items: stretch;
  }
  .field > .input,
  .field > .button,
  .field > .textarea,
  .field > input[type=""],
  .field > input[type="text"],
  .field > label,
  .field > button,
  .field > textarea {
    flex: 1;
  }

  .panel {
    border: 1px solid var(--control-bd);
    background-color: var(--control-bg);
    padding: var(--pad-2);
    border-radius: 4px;
  }

  /* MODIFIERS */

  .floating {
    box-shadow: var(--shadow-floating);
  }

  .pointer {
    cursor: pointer;
  }

  .movable {
    cursor: move;
  }

  .no-select {
    user-select: none;
  }

  .no-events {
    pointer-events: none;
  }
}
