/* --
# UI.js Reset Module

This resets all the HTML tags so that they can be used as a baseline.
*/
html,
body,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button,
input,
select,
textarea,
label,
.reset {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-block: unset;
  font-size: 1rem;
  line-height: unset;
  border: 0px solid transparent;
  outline: 0px solid transparent;
  vertical-align: baseline;
  list-style-type: none;
  text-rendering: optimizeLegibility;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  color: default;
}

*[contenteditable] {
  outline: 0px solid transparent;
}

input,
input:active,
input:focus,
select,
select:active,
select:focus,
button,
button:active,
button:focus,
textarea,
textarea:active,
textarea:focus,
label,
label:active,
label:focus {
  outline: 0px solid transparent;
}
/* EOF */
