/* --
# UI.js Reset Module

This resets all the HTML tags so that they can be used as a baseline.
*/
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
select,
small,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video,
.reset {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	margin-block: unset;
	font-size: 100%;
	font-weight: unset;
	line-height: unset;
	border: 0px solid transparent;
	outline: 0px solid transparent;
	vertical-align: baseline;
	list-style-type: none;
	text-rendering: optimizeLegibility;
	background-color: transparent;
	box-shadow: none;
	text-shadow: none;
	text-align: unset;
	color: default;
}

*[contenteditable] {
	outline: 0px solid transparent;
}

input,
input:active,
input:focus,
select,
select:active,
select:focus,
button,
button:active,
button:focus,
textarea,
textarea:active,
textarea:focus,
label,
label:active,
label:focus {
	outline: 0px solid transparent;
}
/* EOF */
