.invisible {
  visibility: hidden;
}

/**
 * ## Shapes
 */
.square {
  border-radius: 0px;
  width: 1lh;
  height: 1lh;
}

.rectangle {
  border-radius: 0px;
}

.rounded {
  border-radius: var(--rounded-2);
}
.rounded > *:first-child {
  border-top-left-radius: var(--rounded-2);
  border-top-right-radius: var(--rounded-2);
}
.rounded > *:last-child {
  border-bottom-left-radius: var(--rounded-2);
  border-bottom-right-radius: var(--rounded-2);
}
.rounder {
  border-radius: var(--rounded-4);
}
.rounder > *:first-child {
  border-top-left-radius: var(--rounded-4);
  border-top-right-radius: var(--rounded-4);
}
.rounder > *:last-child {
  border-bottom-left-radius: var(--rounded-4);
  border-bottom-right-radius: var(--rounded-4);
}

.circled {
  border-radius: 100%;
}

.square {
  border-radius: 0px;
  width: 2.25em;
  height: 2.25em;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1lh;
  width: 2.25em;
  height: 2.25em;
}

.pill {
  display: inline-flex;
  align-items: center;
  border-radius: 0.5em;
  padding-left: var(--pad-1);
  padding-right: var(--pad-1);
  background-color: var(--color-primary-bg-alt);
}

.pill.error {
  background-color: var(--color-error-bg-alt);
}

/**
 * ## Font
 */

.thinner {
  font-weight: 200;
}

.thin {
  font-weight: 300;
}

.noweight {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 800;
}

/**
 * ## Border
 */

.bd {
  border: 1px solid var(--box-bd);
}
.bd-h > * {
  border-right: 1px solid var(--box-bd);
}
.bd-h > *:last-child {
  border-right: 0px solid var(--box-bd);
}
.bd-v {
  border-top: 1px solid var(--box-bd);
  border-bottom: 1px solid var(--box-bd);
}
.bd-v > * {
  border-bottom: 1px solid var(--box-bd);
}
.bd-v > *:last-child {
  border-bottom: 0px solid var(--box-bd);
}
.bd-t {
  border-top: 1px solid var(--box-bd);
}
.bd-b {
  border-bottom: 1px solid var(--box-bd);
}
.bd-r {
  border-right: 1px solid var(--box-bd);
}
.bd-l {
  border-left: 1px solid var(--box-bd);
}

.lined > * {
  border-bottom: 1px solid var(--box-bd);
}

.lined > *:last-child {
  border-width: 0px;
}

/**
 * ## Opacity
 */

.dim {
  opacity: 0.65;
}

.dimmer {
  opacity: 0.45;
}

.dimmest {
  opacity: 0.25;
}

/**
 * ## Shadow
 */

.shadow {
  box-shadow: 0px 2px 2px #0000000a;
}

.smaller {
  font-size: var(--font-size-1);
}
.small {
  font-size: var(--font-size-2);
}
.regular {
  font-size: var(--font-size-3);
}
.large {
  font-size: var(--font-size-4);
}
.larger {
  font-size: var(--font-size-6);
}
.largest {
  font-size: var(--font-size-8);
}

.serif {
  font-family: var(--font-serif);
}

.sans {
  font-family: var(--font-sans);
}

.mono {
  font-family: var(--font-mono);
}

.upper {
  text-transform: uppercase;
}

/* EOF */
