.invisible {
	visibility: hidden;
}

.nocolor {
	color: transparent;
}

.nobg {
	background-color: transparent;
}

.noshadow {
	box-shadow: unset;
	text-shadow: unset;
}

/**
 * ## Shapes
 */
.square {
	border-radius: 0px;
	width: 1lh;
	height: 1lh;
}

.rectangle {
	border-radius: 0px;
}

.rounded {
	border-radius: var(--rounded-2);
}

.rounded > *:first-child {
	border-top-left-radius: var(--rounded-2);
	border-top-right-radius: var(--rounded-2);
}

.rounded > *:last-child {
	border-bottom-left-radius: var(--rounded-2);
	border-bottom-right-radius: var(--rounded-2);
}

.rounder {
	border-radius: var(--rounded-4);
}

.rounder > *:first-child {
	border-top-left-radius: var(--rounded-4);
	border-top-right-radius: var(--rounded-4);
}

.rounder > *:last-child {
	border-bottom-left-radius: var(--rounded-4);
	border-bottom-right-radius: var(--rounded-4);
}

.circled {
	border-radius: 100%;
}

.square {
	border-radius: 0px;
	width: 2.25em;
	height: 2.25em;
}

.circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 1lh;
	width: 2.25em;
	height: 2.25em;
}

.pill {
	display: inline-flex;
	align-items: center;
	border-radius: 0.5em;
	padding-left: var(--pad-2);
	padding-right: var(--pad-2);
	--element-bg: var(--color-grey-9);
	background-color: var(--element-bg);
}

.pill.blue .pill.output,
.pill[data-color~="blue"],
.pill[data-type~="output"] {
	--element-bg: var(--color-blue);
}

.pill.green .pill.success,
.pill[data-color~="green"],
.pill[data-type~="success"] {
	--element-bg: var(--color-green-7);
}

.pill.yellow .pill.info,
.pill[data-color~="yellow"],
.pill[data-type~="info"] {
	--element-bg: var(--color-yellow-7);
}

.pill.orange .pill.warning,
.pill[data-color~="orange"],
.pill[data-type~="warning"] {
	--element-bg: var(--color-orange-7);
}

.pill.red .pill.error,
.pill[data-color~="red"],
.pill[data-type~="error"] {
	--element-bg: var(--color-red-7);
}

/**
 * ## Font
 */

.thinner {
	font-weight: 200;
}

.thin {
	font-weight: 300;
}

.noweight {
	font-weight: 400;
}

.bold {
	font-weight: 600;
}

.bolder {
	font-weight: 800;
}

.cut {
	overflow: hidden;
}

.italic {
	font-style: italic;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

.lh-100 {
	line-height: 100%;
}

/**
 * ## Border
 */

.bd-1 {
	--box-bd-w: 1px;
}

.bd-2 {
	--box-bd-w: 2px;
}

.bd-3 {
	--box-bd-w: 3px;
}

.bd {
	border: var(--box-bd-w) solid var(--box-bd);
}

.bd-h > * {
	border-right: var(--box-bd-w) solid var(--box-bd);
}

.bd-h > *:last-child {
	border-right: 0px solid var(--box-bd);
}

.bd-v {
	border-top: var(--box-bd-w) solid var(--box-bd);
	border-bottom: var(--box-bd-w) solid var(--box-bd);
}

.bd-v > * {
	border-bottom: var(--box-bd-w) solid var(--box-bd);
}

.bd-v > *:last-child {
	border-bottom: 0px solid var(--box-bd);
}

.bd-t {
	border-top: var(--box-bd-w) solid var(--box-bd);
}

.bd-b {
	border-bottom: var(--box-bd-w) solid var(--box-bd);
}

.bd-r {
	border-right: var(--box-bd-w) solid var(--box-bd);
}

.bd-l {
	border-left: var(--box-bd-w) solid var(--box-bd);
}

.lined > * {
	border-bottom: var(--box-bd-w) solid var(--box-bd);
}

.lined > *:last-child {
	border-width: 0px;
}

.dotted {
	border-style: dotted;
}

.dashed {
	border-style: dashed;
}

.row.lined > * {
	border-bottom: unset;
	border-right: var(--box-bd-w) solid var(--box-bd);
}

.lined > *:last-child {
	border-width: 0px;
}

table.grid {
	border-collapse: collapse;
	border-spacing: 0px;

	td,
	th {
		border: 1px solid var(--box-bd);
	}
}

table.lined {
	border-collapse: collapse;
	border-spacing: 0px;

	td,
	th {
		border-bottom: 1px solid var(--box-bd);
	}
}

/**
 * ## Opacity
 */

.dim,
.dim-a:after,
.dim-b:before,
.dim-ab:after,
.dim-ab:before {
	opacity: 0.65;
}

.dimmer,
.dimmer-a:after,
.dimmer-b:before,
.dimmer-ab:after,
.dimmer-ab:before  {
	opacity: 0.45;
}

.dimmest,
.dimmest-a:after,
.dimmest-b:before,
.dimmest-ab:after,
.dimmest-ab:before  {
	opacity: 0.25;
}

.faint,
.faint-a:after,
.faint-b:before,
.faint-ab:after,
.faint-ab:before  {
	opacity: 0.15;
}

.fainter,
.fainter-a:after,
.fainter-b:before,
.fainter-ab:after,
.fainter-ab:before  {
	opacity: 0.1;
}

.faintest,
.faintest-a:after,
.faintest-b:before,
.faintest-ab:after,
.faintest-ab:before  {
	opacity: 0.05;
}

/**
 * ## Shadow
 */

.shadow {
	box-shadow: 0px 2px 2px #0000000a;
}

.smaller {
	font-size: var(--font-size-1);
}

.small {
	font-size: var(--font-size-2);
}

.regular {
	font-size: var(--font-size-3);
}

.large {
	font-size: var(--font-size-4);
}

.larger {
	font-size: var(--font-size-6);
}

.largest {
	font-size: var(--font-size-8);
}

.serif {
	font-family: var(--font-serif) !important;
}

.sans {
	font-family: var(--font-sans) !important;
}

.mono {
	font-family: var(--font-mono) !important;
}

.emboss {
	text-shadow: -1px -1px 1px #ffffff10;
}

.caps,
.upper {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.comma > *:after {
	content: ",";
}

.comma > *:last-child:after {
	content: "";
}

.parens:before {
	content: "(";
}

.parens:after {
	content: ")";
}

.brackets:before {
	content: "[";
}

.brackets:after {
	content: "]";
}

.curlies:before {
	content: "{";
}

.curlies:after {
	content: "}";
}

.quotes:before {
	content: "«";
}

.quotes:after {
	content: "»";
}

.airquotes:before {
	content: "“";
}

.airquotes:after {
	content: "”";
}

/* @tmpl
   * range(10).map(_ => `\n  .shadow-${_} { --shadow-depth: ${_+1}; box-shadow: var(--shadow-low); }`)
   */
.shadow-0 {
	--shadow-depth: 1;
	box-shadow: var(--shadow-low);
}
.shadow-1 {
	--shadow-depth: 2;
	box-shadow: var(--shadow-low);
}
.shadow-2 {
	--shadow-depth: 3;
	box-shadow: var(--shadow-low);
}
.shadow-3 {
	--shadow-depth: 4;
	box-shadow: var(--shadow-low);
}
.shadow-4 {
	--shadow-depth: 5;
	box-shadow: var(--shadow-low);
}
.shadow-5 {
	--shadow-depth: 6;
	box-shadow: var(--shadow-low);
}
.shadow-6 {
	--shadow-depth: 7;
	box-shadow: var(--shadow-low);
}
.shadow-7 {
	--shadow-depth: 8;
	box-shadow: var(--shadow-low);
}
.shadow-8 {
	--shadow-depth: 9;
	box-shadow: var(--shadow-low);
}
.shadow-9 {
	--shadow-depth: 10;
	box-shadow: var(--shadow-low);
} /* @end */

.shadow-left {
	box-shadow: var(--shadow-low-left);
}

/* @tmpl
   * range(10).map(_ => `\n  .bg-${_} {background-color:color-mix(in srgb, var(--color-current), var(--color-background-t) ${Math.floor(100-(25*_/10))}%);  }`)
   */
.bg-0 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 100%
	);
}
.bg-1 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 97%
	);
}
.bg-2 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 95%
	);
}
.bg-3 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 92%
	);
}
.bg-4 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 90%
	);
}
.bg-5 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 87%
	);
}
.bg-6 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 85%
	);
}
.bg-7 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 82%
	);
}
.bg-8 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 80%
	);
}
.bg-9 {
	background-color: color-mix(
		in srgb,
		var(--color-current),
		var(--color-background-t) 77%
	);
} /* @end */

.bevel {
	border: var(--box-bd-w) solid #ffffff20;
	border-bottom-color: #00000020;
	border-right-color: #00000020;
}

.emboss {
	border: var(--box-bd-w) solid #ffffff20;
	border-top-color: #00000020;
	border-left-color: #00000020;
}

/* EOF */
