@layer behavior {
  /*
   * ## Hover Behaviour
  */
  .show-menu,
  .with-hover {
    position: relative;
  }
  .show-menu > .menu,
  .with-hover .on-hover {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition-property: opacity;
    transition-delay: 0.1s;
    transition-duration: 0.25s;
  }
  .with-hover:hover .on-hover,
  .show-menu:hover > .menu,
  .with-hover .on-hover:hover {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .show-menu:hover > .menu {
    bottom: 0px;
    left: 0px;
    transform: translateY(100%);
  }

  /*
   * ## Selectable behaviour
  */
  .selectable {
    cursor: pointer;
  }

  .selectable:hover {
    background-color: var(--control-bg-hover);
  }

  .hover:hover .hovered {
    background-color: var(--control-bg-hover);
  }
  .editable[data-placeholder]:before {
    content: attr(data-placeholder);
    opacity: 0.75;
  }
}
