:root {
  --palette-grey-20: #393930;
  --palette-grey-40: #595950;
  --palette-grey-60: #797970;
  --palette-grey-80: #999990;
  --palette-ivory-70: #efeee7;
  --palette-ivory-90: #fffef7;
  --palette-gold-60: #fcd647;
}
