@layer loading, reset, base, ui, theme;
@layer ui {

	.composite {
		display: inline-block;
	}
	.composite > .content > .item:after {
		content: ",";
	}

	.composite > summary {
		display: inline-block;
		cursor: pointer;
	}

	.composite > summary > .count:before {
		content: "(";
	}
	.composite > summary > .count:after {
		content: ")";
	}

	.composite > .content > .item:last-child:after {
		content: "";
	}
	.array > .content:before {
		content:"[";
	}
	.array > .content:after {
		content:"]";
	}
	.map > .content:before {
		content:"{";
	}

	.map > .content:after {
		content:"}";
	}
	.map > .content > .item > .key:after {
		content: ":";
	}
}
