@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --palette-grey-20: #393930;
  --palette-grey-40: #595950;
  --palette-grey-60: #797970;
  --palette-grey-80: #999990;
  --palette-ivory-70: #efeee7;
  --palette-ivory-90: #fffef7;
  --palette-gold-60: #fcd647;
}

/* --
I feel that the creation of the variables/tokens should be assisted with
JavaScript, so that variants can be easily created (faded version, OKLab
variations).
 */
:root {
  --text-max-width: 55ch;

  --font-text: "Jost", sans-serif;
  --font-text-line-height: 1.45em;
  --font-text-size: 1rem;

  --font-heading: "Jost", sans-serif;
  --font-heading-line-height: 1.45em;
  --font-heading-size: var(--font-size-4);

  --font-code: "Cousine", monospace;
  --font-code-line-height: 1.25em;
  --font-code-size: calc(10.5 / 14 * 1rem);

  --font-control: "Jost", sans-serif;
  --font-control-line-height: 1.25em;
  --font-control-size: var(--font-size-2);

  --font-icon: "Material Symbols Outlined", sans-serif;

  --font-size-0: calc(9 / 14 * 1rem);
  --font-size-1: calc(12 / 14 * 1rem);
  --font-size-1_5: calc(13 / 14 * 1rem);
  --font-size-2: calc(14 / 14 * 1rem);
  --font-size-3: calc(16 / 14 * 1rem);
  --font-size-4: calc(18 / 14 * 1rem);
  --font-size-5: calc(22 / 14 * 1rem);
  --font-size-6: calc(26 / 14 * 1rem);
  --font-size-7: calc(32 / 14 * 1rem);
  --font-size-8: calc(42 / 14 * 1rem);
  --font-size-9: calc(48 / 14 * 1rem);

  /* FIXME: Should drop the color here */
  --color-text: var(--palette-grey-20);
  --color-text-alt: var(--palette-grey-80);
  --color-icon: var(--palette-grey-60);
  --color-bd: var(--palette-grey-80);
  --color-page-bg: var(--palette-ivory-90);
  --color-page-bg-alt: var(--palette-ivory-70);
  --color-code: var(--palette-grey-40);
  --color-accent: var(--palette-gold-60);
  /* FIXME: What is that alt */
  --color-accent-alt: #fcd64780;
  --color-accent-txt: var(--color-text);
  --color-accent-bg: var(--palette-gold-60);
  --color-accent-bg-alt: #fcd64780;

  --color-lightest: #ffffff;
  --color-darkest: #222222;

  --darker-0: #22222205;
  --darker-1: #22222220;
  --darker-2: #22222240;
  --darker-3: #22222250;
  --darker-4: #22222270;
  --darker-5: #22222290;
  --darker-6: #222222a0;
  --darker-7: #222222b0;
  --darker-8: #222222d0;
  --darker-9: #222222f0;

  --shadow-floating: 3px 3px 1px #00000020;

  /* Units */
  --pad: 16px;
  --pad-0: calc(var(--pad) * 0.5);
  --pad-1: calc(var(--pad) * 1);
  --pad-2: calc(var(--pad) * 2);
  --pad-3: calc(var(--pad) * 3);
  --pad-4: calc(var(--pad) * 4);

  --z-popup: 50;

  --control-bd-alt: var(--palette-grey-80);
  --control-bd: var(--color-text);
  --control-bd-focused: var(--color-accent);
  --control-bd-hover: var(--color-accent-alt);
  --control-bg: var(--palette-white-90);
  --control-bg-focused: white;
  --control-lh: 1.15em;
  --control-bg-hover: var(--color-accent-bg-alt);
  --control-font: var(--palette-white-90);
  --control-text: var(--color-text);

  --button-offset: 2px;
}

@layer reset {
  html,
  body,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  address,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  samp,
  small,
  strong,
  sub,
  sup,
  var,
  b,
  i,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary,
  time,
  mark,
  audio,
  video,
  button,
  input,
  select,
  textarea,
  label {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    outline: 0px solid transparent;
    vertical-align: baseline;
    list-style-type: none;
    text-rendering: optimizeLegibility;
  }

  *[contenteditable] {
    outline: 0px solid transparent;
  }

  input,
  input:active,
  input:focus,
  select,
  select:active,
  select:focus,
  button,
  button:active,
  button:focus,
  textarea,
  textarea:active,
  textarea:focus,
  label,
  label:active,
  label:focus {
    outline: 0px solid transparent;
  }
}

@layer base {
  body {
    font-family: var(--font-text);
    line-height: var(--font-text-line-height);
    font-size: var(--font-text-size);
    color: var(--color-text);
    accent-color: var(--color-accent);
    background-color: var(--color-page-bg);
    padding: var(--pad-4);
    --line-height: var(--font-text-line-height);
  }

  .icon {
    font-size: 100%;
    color: var(--color-icon);
    font-family: var(--font-icon);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  button > .icon,
  .button > .icon {
    font-size: 150%;
  }

  hr {
    border: 0px solid transparent;
    border-bottom: 1px solid var(--color-text);
  }
  p,
  li {
    max-width: var(--text-max-width);
  }

  code,
  pre {
    font-family: var(--font-code);
    font-size: var(--font-code-size);
    line-height: var(--font-code-line-height);
    color: var(--color-code);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-size: var(--font-heading-size);
    line-height: var(--font-heading-line-height);
    font-weight: 600;
    margin-top: var(--pad-2);
    margin-bottom: var(--pad-0);
    max-width: var(--text-max-width);
  }
  h1 {
    font-size: var(--font-size-8);
  }
  h2 {
    font-size: var(--font-size-7);
  }
  h3 {
    font-size: var(--font-size-6);
  }
  h4 {
    font-size: var(--font-size-5);
  }
  h5 {
    font-size: var(--font-size-4);
  }
  h6 {
    font-size: var(--font-size-3);
  }
  dt {
    font-weight: bold;
    margin-top: 1.25em;
    max-width: var(--text-max-width);
  }
  dd {
    max-width: var(--text-max-width);
    margin-left: 0.5ch;
    padding-left: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: var(--line-height);
    border-left: 1px solid var(--color-text);
  }
}

@layer layout {
  .pad {
    padding: var(--pad-1);
  }
  .gap {
    gap: var(--pad-1);
  }
  .pos-rel {
    position: relative;
  }
  .bd {
    border: 1px solid var(--color-bd);
  }
  .bd-t {
    border-top: 1px solid var(--color-bd);
  }
  .bd-b {
    border-bottom: 1px solid var(--color-bd);
  }
  .bd-r {
    border-right: 1px solid var(--color-bd);
  }
  .bd-l {
    border-left: 1px solid var(--color-bd);
  }
  .row {
    display: flex;
    align-items: center;
  }
  .row.right {
    justify-content: flex-end;
  }
  .row > .grow {
    flex-grow: 1;
  }
  .stack {
    display: flex;
    flex-direction: column;
  }
  .stack > .grow {
    flex-grow: 1;
  }
}

@layer ui {
  .with-hover {
    position: relative;
  }
  .with-hover .on-hover {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-delay: 0.1;
  }
  .with-hover:hover .on-hover,
  .with-hover .on-hover:hover {
    top: 0px;
    left: 0px;
    visibility: visible;
    display: block;
    pointer-events: auto;
    opacity: 1;
  }

  /**
   * Layout
   */
  .stack {
    display: flex;
    flex-direction: column;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fit-w {
    width: 100%;
    max-width: 100%;
  }

  .cont {
    position: relative;
  }

  .fit-h {
    height: 100%;
    max-height: 100%;
  }

  /**
   * Component
   */
  menu {
    display: block;
    font-size: var(--font-size-1);
    background-color: var(--color-page-bg);
    border: 1px solid var(--control-bd-alt);
    border-radius: 4px;
    padding: 8px 0px;
    text-align: left;
    max-width: 260px;
    line-height: var(--control-lh);
    user-select: none;
  }
  menu.popup {
    box-shadow: var(--shadow-floating);
    position: absolute;
    z-index: var(--z-popup);
    min-width: 200px;
    max-height: 290px;
    overflow-y: auto;
    scrollbar-color: var(--color-accent);
    scrollbar-width: thin;
  }
  menu > hr {
    border: 0px solid transparent;
    background: transparent;
    margin: 0px;
    border-top: 1px solid var(--color-bd);
  }
  menu > hr:after {
    content: attr(data-label);
    display: block;
    opacity: 0.75;
    font-weight: 400;
    font-size: var(--font-size-2);
    line-height: 1em;
    padding: 12px 8px 8px;
  }
  menu > li {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    gap: 8px;
    color: var(--control-text);
    cursor: pointer;
  }
  menu > li:hover {
    background-color: var(--control-bg-hover);
  }

  menu > li > .label {
    display: block;
    flex-grow: 1;
    font-size: var(--font-size-1_5);
    color: var(--color-text);
  }

  menu > li > .label > .detail {
    display: block;
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--color-text-alt);
  }

  input[type="text"],
  .input,
  textarea,
  .textarea {
    display: "inline-block";
    width: "min-content";
    min-width: 15ch;
    line-height: var(--control-lh);
    border: 1px solid var(--control-bd);
    background: var(--control-bg);
    color: var(--control-txt);
    font-family: var(--control-font);
    font-size: var(--control-font-size);
    line-height: var(--control-line-height);
    padding: 4px 8px;
    box-shadow: 0px 0px 0px transparent;
    transition-property: box-shadow, top, left;
    transition-duration: 0.15s;
    position: relative;
    top: 0px;
    left: 0px;
  }
  input:hover,
  textarea:hover,
  .input:hover,
  .textarea:hover {
    box-shadow: -2px 2px 0px var(--color-accent);
  }
  input:focus,
  textarea:focus,
  input:active,
  textarea:active,
  .input:focus,
  .textarea:focus,
  .input:active,
  .textarea:active {
    box-shadow: -4px 4px 0px var(--color-accent);
    background-color: var(--control-bg-focused);
    top: -2px;
    left: 2px;
  }
  button,
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    min-width: 1.75em;
    position: relative;
    text-align: center;
    border: 1px solid var(--control-bd);
    border-radius: 4px;
    font-family: var(--font-control);
    font-size: 12px;
    padding: 4px 8px;
    background-color: var(--color-page-bg);
    box-shadow: -2px 2px 0px var(--color-accent);
    color: var(--color-text);
    cursor: pointer;
    font-weight: 500;
    top: 0px;
    left: 0px;
    transition-property: box-shadow, text-shadow, background-color, border-color,
      color, top, left;
    transition-duration: 0.15s;
  }
  button.default,
  .button.default {
    font-weight: bold;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    top: calc(-1 * var(--button-offset));
    left: var(--button-offset);
    box-shadow: calc(-2 * var(--button-offset)) calc(2 * var(--button-offset))
      0px var(--color-accent);
  }
  button:hover,
  .button:hover {
    background-color: var(--color-accent-bg);
  }
  button.selected,
  .button.selected {
    background-color: var(--color-accent-bg);
  }

  button.default:hover,
  .button.default:hover {
    text-shadow: 1px 1px 0px var(--color-lightest);
  }

  button:focus,
  .button:focus {
    outline: 3px solid var(--color-accent-alt);
  }
  button:active,
  .button:active {
    box-shadow: calc(-2 * var(--button-offset)) calc(2 * var(--button-offset))
      0px var(--color-accent);
    outline: 2px solid var(--color-accent-alt);
    top: 0px;
    left: 0px;
  }
  button.icon,
  .button.icon {
    font-family: var(--font-icon);
    font-size: var(--font-size-3);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    padding: 4px;
  }
  button.square,
  .button.square {
    border-radius: 0em;
  }
  button.round,
  .button.round {
    min-width: unset;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.25em;
  }
  button.label,
  .button.label {
    border: 0px solid transparent;
    text-shadow: -1px 1px 0px var(--color-accent);
    box-shadow: 0px 0px #ffffff00;
    transition-property: text-shadow, top, left;
  }
  button.label:hover,
  button.label:focus,
  .button.label:hover,
  .button.label:focus {
    box-shadow: 0px 0px #ffffff00;
    background-color: transparent;
    text-shadow: calc(-2 * var(--button-offset)) calc(2 * var(--button-offset))
      2px var(--color-accent);
    outline: unset;
  }
  button.label:focus,
  .button.label:focus {
    text-decoration: underline dotted;
  }
  button.label:active,
  .button.label:active {
    background-color: transparent;
    text-shadow: calc(-2 * var(--button-offset)) calc(2 * var(--button-offset))
      2px var(--color-accent);
    outline: unset;
  }

  button.small,
  .button.small {
    font-size: 10px;
    padding: 2px 4px;
  }
  button.x-small,
  .button.x-small {
    font-size: 10px;
    padding: 1px;
    border-radius: 0px;
  }
  .select {
  }
  .select > button,
  .select > .button,
  .select > button:hover,
  .select > button:focus,
  .select > .button:hover,
  .select > .button:focus {
    text-shadow: unset;
    box-shadow: unset;
    left: unset;
    top: unset;
    border: 0px solid transparent;
    margin-right: 2px;
  }

  .pill {
    border-radius: 0.5em;
    padding-left: 1ch;
    padding-right: 1ch;
    background-color: var(--color-accent-bg-alt);
  }
}

@layer theme {
  body > header {
    border-bottom: 1px solid var(--color-text);
    padding-bottom: var(--pad-1);
    margin-bottom: var(--pad-2);
  }
  body > header h1 {
    font-weight: 600;
    text-shadow: -4px 4px 0px var(--color-accent);
  }
  body > header p {
    font-size: var(--font-size-3);
  }
  */ p {
    margin-bottom: var(--line-height);
  }
  p:last-child {
    margin-bottom: 0px;
  }
}

@layer loading {
  body {
    opacity: 1;
  }
}

/* EOF */
